services:
  admin:
    image: cupcakearmy/static
    ports:
      - 3001:80
    volumes:
      - ./admin:/srv:ro

  mailserver:
    image: maildev/maildev
    ports:
      - 1080:1080
      - 1025:1025

  frontend:
    # name the image so that it cannot be found in a DockerHub repository, otherwise it will not be built locally from the 'dockerfile' but pulled from there
    image: webcraftmedia/jahrweiser:local-production
    build:
      context: ./frontend
      target: production
    ports:
      - 3000:3000
    environment:
      - NODE_ENV="production"