services:
  admin:
    image: cupcakearmy/static
    ports:
      - 3001:80
    volumes:
      - ./admin:/srv:ro

  mailserver:
    image: maildev/maildev
    ports:
      - 1080:1080
      - 1025:1025