footer(style="padding:20px;text-align:center;font-size:0.85em;color:#64748b")
  .footer
  - var organizationUrl = ORGANIZATION_URL
  - var organizationName = ORGANIZATION_NAME
    a(href=organizationUrl style="color:#64748b;text-decoration:underline")!= organizationName