p.no-margin-top-bottom(style="margin-top:0.3em;font-size:0.85em;color:#64748b")
  != t('general.support') + ' '
  a(href='mailto:' + supportEmail style="color:#64748b;text-decoration:underline")!= supportEmail